<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:annotation-config/>
	<context:component-scan base-package="com.ameya"/>
<!-- 	<bean id="employeeFacade" class="com.ameya.facades.impl.EmployeeFacadeImpl"> -->
<!-- 		<property name="employeeService" ref="employeeService"/> -->
<!-- 	</bean> -->
<!-- 	<bean id="employeeService" class="com.ameya.services.impl.EmployeeServiceImpl"> -->
<!-- 		<property name="employeeDao" ref="employeeDao"/> -->
<!-- 	</bean> -->
<!-- 	<bean id="employeeDao" class="com.ameya.daos.impl.EmployeeDAOImpl"> -->
	<!-- 
		Here the DB configurations will be injected
	 -->
<!-- 	</bean> -->
</beans>
